.list-thread {
    display: flex;
    flex-direction: column;
}

.thread {
    margin-bottom: 10px;
}

.thread .title {
    color: #353535;
}

.thread .points {
    color: #E64569;
}

.thread .user {
    color: #3d963b;
}

.thread .comments {
    color: #439ECF;
}